// 颜色
$accentColor =  #eb910a
$textColor = #1f1535
$borderColor = lighten(#d4d7e0, 35%)
$codeBgColor = #362a51
$arrowBgColor = lighten(#d4d7e0, 45%)
$badgeTipColor = #614f87
$badgeWarningColor = #ffbd3b
$badgeErrorColor = darken(#ffbd3b, 55%)